{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Réinitialisation de votre mot de passe
{% endblock %}

{% block body %}
    <section class="heading">
        <div class="wrapper">
            <h1>Réinitialisez <br>votre mot de passe</h1>
        </div>
    </section>
    <section class="form-reset-password">
        <div class="wrapper">
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="" type="submit">Changer de mot de passe</button>
            {{ form_end(resetForm) }}
        </div>
    </section>
{% endblock %}
