### Personal files ###
/ProjetWebDynamique.odt
/git.txt
/utils/

### idea folder ###
/.idea/

###> symfony/framework-bundle ###
/annuaire/.env.local
/annuaire/.env.local.php
/annuaire/.env.*.local
/annuaire/config/secrets/prod/prod.decrypt.private.php
/annuaire/public/bundles/
/annuaire/var/
/annuaire/vendor/
###< symfony/framework-bundle ###