<footer>
    <div class="wrapper">
        <div class="logo">
            <a href="{{ path('home') }}"><img src=" {{ asset('img/short_logo_100p.png') }}" alt="logo Bien-Être" title="Bien-Être" /></a>
        </div>
        <nav class="footer-menu">
            <ul>
                <li class="left">
                    <a href="{{ path('category_index') }}">Catégories</a>
                </li>
                <li class="left">
                    <a href="">Newsletter</a>
                </li>
                <li class="right">
                    <a href="">Nous contacter</a>
                </li>
                <li class="right">
                    <a href="">A propos</a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            <p>www.bien-etre.be</p>
        </div>
    </div>
</footer>