<footer>
    <div class="wrapper">
        <header class="logo">
            <img src="./img/short_logo_100p.png" alt="logo Bien-Être" />
        </header>
        <nav class="footer-menu">
            <ul>
                <li class="left">
                    <a href="">Catégories</a>
                </li>
                <li class="left">
                    <a href="">Newsletter</a>
                </li>
                <li class="right">
                    <a href="">Nous contacter</a>
                </li>
                <li class="right">
                    <a href="">A propos</a>
                </li>
            </ul>
        </nav>
        <footer class="copyright">
            <p>www.bien-etre.be</p>
        </footer>
    </div>
</footer>