<header>
    <div class="wrapper">
        <div class="openMenu">
            <a class="openLogo" href="#">
                <i class="fas fa-ellipsis-v"></i>
            </a>
        </div>
        <div class="logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('/img/full_logo_120p.png') }}" />
            </a>
        </div>
        <nav class="menu">
            <ul class="navBar">
                <li>
                    <a class="categoryLink" href="#">Catégories <i class="chevronCategory fas fa-chevron-down"></i></a>
                    {# Custom Twig function to display Categories Sub Menu #}
                    {{ subMenuCategory() }}
                </li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Nous contacter</a></li>
                <li><a href="#">A propos</a></li>
            </ul>
            <div class="langMobile">
                <ul>
                    <li>
                        <a class="active" href="#">FR</a>
                    </li>
                    <li>
                        <a href="#">NL</a>
                    </li>
                    <li>
                        <a href="#">DE</a>
                    </li>
                </ul>
            </div>
            <div class="menuFooter">
                <img src="{{ asset('/img/short_logo_100p.png') }}">
            </div>
        </nav>
        <div class="navBtn">
            <span class="searchBtn">
                <a href="#">
                    <i class="fas fa-search"></i>
                </a>
            </span>
            <span class="loginBtn">
                <a href="#">
                    <i class="far fa-user"></i>
                </a>
            </span>
        </div>
        <div class="lang">
            <ul>
                <li>
                    <a href="#">FR</a>
                </li>
                <li>
                    <a href="#">NL</a>
                </li>
                <li>
                    <a href="#">DE</a>
                </li>
            </ul>
        </div>
    </div>
</header>