// ** Category detail ** //
// * Hero * /
.heading.listing {
  @include bg-gradient-white('heroHammam.jpg');
  text-align: center;

  h1 {
    font-size: 1.5rem;
  }

  p {
    padding-top: 3.5rem;
  }
}

section.categoryDetail.content{
  padding-top: 80px;
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .heading.listing {
    p {
      padding-bottom: 3.5rem;
    }
  }
}