// ** Homepage ** //
// * Hero * //
.hero {
  padding: 0 20px;
  height: 100vh;
  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url($imageDir + 'heroBackground_full.jpg') center no-repeat;
  background-size: cover;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    padding: 3.5rem 0;
  }
}

// * Highlighted category * //
.highlightedCategory {

  .wrapper {
    padding: 0 20px;
  }

  a:hover > .bigCard {
    @include box-shadow-hover();
  }
}

// * Last subscribers * //



@media screen and (min-width: map-get($responsive-table, "-lg")) {
  // * Hero * //
  .hero {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url($imageDir + 'heroBackground_full.jpg') center no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 420px;

    .wrapper {
      flex-direction: row;
      justify-content: space-around;
      height: 50vh;
      min-height: 420px;
    }

    h1 {
      width: 40%;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 30%;
        width: 40%;
        height: 2px;
        background-color: $color-emphasis;
      }
    }

    form {
      width: 40%;
    }
  }

  .lastSubscribers {
    .smallCard-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .smallCard {
        min-width: 48%;
        width: 49%;
      }
    }
  }
}