.loginMod {
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: $color-txt-normal;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url($imageDir + 'loginModBackground.jpg') center no-repeat;
  background-size: cover;
  @include box-shadow(true);

  .registerLink {
    line-height: .2rem;
    cursor: pointer;
    color: darken($color-emphasis, 20%);
  }

  .cta {
    a {
      font-size: .7rem;
      color: $color-txt-normal;
      line-height: 1.5rem;

      strong {
        font-size: .9rem;
        color: darken($color-emphasis, 20%);
        font-weight: normal;
      }
    }
  }

  h1 {
    padding-top: .5rem;
    margin-bottom: 3.5rem;
  }

  .loginForm-password {
    margin-bottom: 1.5rem;
    text-align: left;

    input {
      margin-bottom: 0;
    }
  }

  .loginForm-rememberMe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;

    label {
      order: 2;
    }

    input {
      order: 1;
      width: 10%;
      padding: 0;
      margin: 0;
    }
  }
}
@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .loginMod {
    height: auto;
    width: 40%;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: -500px;
    background: $white;
    z-index: 99;
    @include box-shadow(false);

    h1 {
      display: none;
    }

    form {
      display: flex;
      flex-wrap: wrap;

      .loginForm-mail, .loginForm-password {
        width: 50%;
        max-width: 50%;
        padding: 0 10px;
      }

      .loginForm-rememberMe {
        padding: 0 10px;
        width: 100%;

        label {
          width: 90%;
        }

        button {
          width: 100%;
          margin-top: 15px;
        }
      }
    }

    &.active {
      margin-left: 40%;
      margin-right: 20%;
      margin-top: 5px;
      padding: 20px;
    }
  }
}