// Details of a provider
section.providerDetail {
  padding-top: 80px;
}

.providerDetail {

  h1 {
    padding-bottom: 1rem;
    margin-bottom: 3.5rem;
  }

  &.heading {
    padding-left: 10%;
    padding-right: 10%;
  }

  .address {
    font-size: .8rem;
    letter-spacing: 0;
    white-space: nowrap;
  }

  .logoContainer {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 80%;
      min-width: 280px;
      height: 1.5rem;
      bottom: 7px;
      left: -20px;
      background-color: $color-emphasis;
      border-radius: 0 1rem 1rem 0;
      z-index: 9;
    }
  }

  .logo {
    position: relative;
    display: block;
    margin: -6rem auto 0;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    z-index: 99;
  }

  .description {
    p {
      margin: 2.5rem 0;
    }
  }

  .categories {
    margin-bottom: 2.5rem;
  }

  .contactIconsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    h2 {
      width: 100%;
    }

    .iconDescription {
      display: none;
    }
  }

  .map {
    margin: 2.5rem 0 0;

    iframe {
      width: 100%;
      height: 300px;
      border: none;
    }
  }

  &.navBar {
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(0, 0, 0, 0.1);
    z-index: 999;

    li {
      display: inline-block;

      a {
        position: relative;
        display: block;
        font-family: $font-heading;
        text-transform: uppercase;
        font-size: .8rem;
        padding: 1rem 1rem;

        &::after {
          content: '⬤';
          position: absolute;
          top: calc(50% - 5px);
          right: -7px;
          font-size: .4rem;
        }
      }

      &:last-child > a::after {
        content: none;
      }
    }
  }

  .smallCard-content {
    padding-right: 0;
  }

  .internship {
    z-index: 0;
    margin-top: -10px;

    h3 {
      font-weight: 500;
    }
  }

  .image {
    border-radius: 10px;
    margin-bottom: 1rem;

    img {
      width: 100%;
    }
  }
}

.unauthorized {
  .disclamer {
    margin-bottom: 0;
  }

  .openLoginForm {
    cursor: pointer;
  }
}

section.providerDetail.content {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

// bigCard

.bigCard-heading {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -.5rem;
    left: 0px;
    background-color: $color-emphasis;
  }

  h3 {
    width: 70%;
    margin: 0 0 .5rem;

    &::before {
      content: none;
    }
  }

  .price {
    color: $color-txt-price;
    font-weight: 500;
    text-align: right;
    width: 30%;
  }

  .date {
    width: 100%;
    font-size: .8rem;
  }

  .bigCard-content {
    .description {
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .providerDetail {

    h1 {
      line-height: 2rem;
    }

    .categories {
      width: 100%;

      h2 {
        display: none;
      }
    }

    .smallCard-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .smallCard {
        min-width: 48%;
        width: 49%;
      }
    }

    .images-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .image {
        width: 30%;
        max-width: 30%;
        margin: 0 .5rem 1rem .5rem;
        overflow: hidden;
        @include box-shadow(false);

        img {
          height: 100%;
        }
      }
    }
  }
  section.providerDetail.content {
    padding-bottom: 80px;
  }

  .providerDetail.content > .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
      width: 100%;
    }

    .logoContainer {
      &::before {
        border-radius: 1rem;
        left: -100px;
      }
    }

    .logoContainer, .description {
      width: 100%;
    }

    .map {
      width: 50%;
      order: 3;
      margin-top: 0;
    }

    .contactIconsContainer {
      width: 50%;
      order: 4;
      flex-direction: column;
      padding-left: 2.5rem;

      .contactIcon {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          padding-left: 2.5rem;
          font-size: 1.2rem;
        }

        .iconDescription {
          display: block;
        }
      }
    }
  }
}


