.heading {
  text-align: center;
  @include bg-gradient-white('headingBackground_360p.jpg');
}

.reset-password-done {
  text-align: center;
  line-height: 1.2rem;
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .heading {
    @include bg-gradient-white('headingBackground.jpg');
  }
}