.alert {
  position: fixed;
  width: 80%;
  top: 80px;
  left: 10%;
  z-index: 9999;
  text-align: center;
  border-radius: 10px;
  animation: fadeIn 2s;
  @include box-shadow(false);

  &.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }

  &.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
  }

  &.alert-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }

  &.closed {
    // animation: fadeOut 3s;
  }

  p {
    padding: .8rem;
  }

  &-closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .alert{
    width: 40%;
    left: 30%;
  }
}