// ** Elements ** //
// * Big Cards - Highlighted Category * //
.bigCard {
  margin: 1.75rem 0;
  border-radius: 10px;
  background-color: $white;
  @include box-shadow(false);

  &:hover {
    @include box-shadow-hover();
  }

  .img-container {
    height: 86px;
    overflow: hidden;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &-content {
    padding: 20px;
  }
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .bigCard {
    display: flex;
    flex-wrap: nowrap;

    .img-container {
      width: 20%;
      height: auto;
      overflow: hidden;
    }

    img {
      height: 100%;
      border-radius: 10px 0 0 10px;
    }

    &-content {
      align-self: center;
      width: 100%;

      .description {
        padding: 1rem 0;
      }
    }
  }
}

// * Buttons * //
.cta {
  font-family: $font-txt;
  width: 100%;
  border: 2px solid $color-emphasis;
  cursor: pointer;
  letter-spacing: .2rem;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin: 2rem 0 1rem;
  padding: .5rem;
  @include box-shadow(false);
  color: $color-emphasis;
  font-size: .7rem;

  &:hover {
    @include box-shadow-hover();
  }

  &:focus {
    background-color: darken($color-emphasis, 10%);
    border: 1px solid darken($color-emphasis, 10%);
  }
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .cta {
    font-size: .7rem;
  }
}

// Pagination
.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: .5rem;

  .cta {
    padding: 0;
  }

  .previous, .next {
    flex-shrink: 1;
    margin-top: 0;

    a {
      display: block;
      font-size: .7rem;
      letter-spacing: 0;
      padding: .7rem;
    }
  }
}

@media screen and (min-width: map-get($responsive-table, '-lg')){
  .pagination {
    .previous, .next {
      max-width: 50%;
    }

    .next {
      margin-left: auto;
    }
  }
}

// * Small Cards - Last subscribers / Category detail * //
.smallCard {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $white;
  border-radius: 10px;
  @include box-shadow(false);
  margin-bottom: 20px;

  &-content {
    padding-left: 5px;
    padding-right: 80px;
    width: 100%;
  }

  .name {
    color: $color-heading-primary;
  }

  .category {
    font-size: .6rem;
    padding: .2rem 0;
  }

  .place {
    font-size: .7rem;
  }

  &:hover {
    @include box-shadow-hover();
  }

  img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 10px 0 0 10px;
  }

  .reviews {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: .7rem;
    color: $star-reviews;

    i {
      font-size: .7rem;
    }
  }
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .smallCard-container {
    margin: 0 auto;
  }
}

// Pils
@for $i from 1 through 2 {
  .smallPills-#{$i} {
    position: absolute;
    @if $i == 1 {
      bottom: 5px;
    } @else {
      bottom: 27px;
    }
    right: 5px;
    border: 2px solid $color-cta;
    border-radius: 50px;
    padding: 0 10px;
    font-size: .6rem;
    font-weight: bold;
    color: $color-cta;
    min-width: 70px;
    text-align: center;
  }
}

.bigPill {
  display: inline-block;
  color: $color-cta;
  font-weight: 500;
  margin: .5rem .3rem;
  padding: .3rem 0;

  a {
    border: 3px solid $color-cta;
    border-radius: 5rem;
    font-size: .9rem;
    padding: .5rem 1rem;
  }

  &.admin a {
    border-radius: 5rem 0 0 5rem;
  }

  &.admin .delete {
    font-size: .9rem;
    color: darken($color-cta, 20%);
    border: 3px solid darken($color-cta, 20%);
    border-radius: 0 5rem 5rem 0;
    padding: .5rem 1rem;
    margin-left: -3px;
  }

  &.addLink a {
    border-radius: 5rem;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-bottom: -5px;

    path {
      fill: $color-cta;
    }
  }
}

// Like Btn
.likeBtn {
  position: fixed;
  top: 80px;
  right: 40px;

  a {
    display: inline-block;
    padding: .5rem;
    width: 36px;
    height: 36px;
  }

  svg {
    width: 36px;
    height: 36px;
  }

  .like svg {
    fill: green;
  }

  .dislike svg {
    fill: red;
  }
}