// ** Elements ** //
// * Big Cards - Highlighted Category * //
.bigCard {
  margin: 1.75rem 0;
  border-radius: 10px;
  background-color: $white;
  @include box-shadow(false);

  &:hover {
    @include box-shadow-hover();
  }

  .img-container {
    height: 86px;
    overflow: hidden;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &-content {
    padding: 20px;
  }
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .bigCard {
    display: flex;
    flex-wrap: nowrap;

    .img-container {
      width: 20%;
      height: auto;
      overflow: hidden;
    }

    img {
      height: 100%;
      border-radius: 10px 0 0 10px;
    }

    &-content {
      align-self: center;
      width: 100%;

      .description {
        padding: 1rem 0;
      }
    }
  }
}

// * Buttons * //
.cta {
  font-family: $font-txt;
  width: 100%;
  border: 2px solid $color-emphasis;
  cursor: pointer;
  letter-spacing: .2rem;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin: 2rem 0 1rem;
  padding: .5rem;
  @include box-shadow(false);
  color: $color-emphasis;
  font-size: .7rem;

  &:hover {
    @include box-shadow-hover();
  }

  &:focus {
    background-color: darken($color-emphasis, 10%);
    border: 1px solid darken($color-emphasis, 10%);
  }
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .cta {
    font-size: .7rem;
  }
}

// * Small Cards - Last subscribers / Category detail * //
.smallCard {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $white;
  border-radius: 10px;
  @include box-shadow(false);
  margin-bottom: 20px;

  &-content {
    padding-left: 5px;
    padding-right: 80px;
  }

  .name {
    color: $color-heading-primary;
  }

  .category {
    font-size: .6rem;
    padding: .2rem 0;
  }

  .place {
    font-size: .7rem;
  }

  &:hover {
    @include box-shadow-hover();
  }

  img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 10px 0 0 10px;
  }

  .promos, .internships {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 2px solid $color-cta;
    border-radius: 50px;
    padding: 0 10px;
    font-size: .6rem;
    font-weight: bold;
    color: $color-cta;
    min-width: 70px;
    text-align: center;
  }

  .internships {
    bottom: 27px;
  }

  .reviews {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: .7rem;
    color: $star-reviews;

    i {
      font-size: .7rem;
    }
  }
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  .smallCard-container {
    margin: 0 auto;
  }
}

// Pils
.bigPill {
  display: inline-block;
  border: 3px solid $color-cta;
  border-radius: 5rem;
  color: $color-cta;
  font-weight: 500;
  margin: .3rem;
  padding: .3rem 0;

  &:hover {
    color: darken($color-cta, 10%);
    transform: scale(1.1);
  }

  a {
    font-size: .9rem;
    padding: .5rem 1rem;
  }
}