label {
  display: block;
  width: 100%;
  color: $color-heading-primary;
  letter-spacing: .2rem;
  font-size: .7rem;
  text-align: left;
  padding-left: 1rem;
}

input, select, button, textarea {
  display: block;
  width: 100%;
  padding: .4rem;
  border: 1px solid $color-emphasis;
  font-family: $font-txt;
  color: $color-txt-normal;
  border-radius: .2rem;
  box-shadow: none;
  margin-bottom: 1.5rem;
  background-color: $white;

  &::placeholder {
    color: lighten($color-txt-normal, 20%);
    font-size: .8rem;
  }

  &:focus, &:active {
    outline: none;
    border: 1px solid darken($color-emphasis, 30%);
  }

  &[type=submit] {
    background-color: $color-emphasis;
    cursor: pointer;
    letter-spacing: .2rem;
    font-size: .8rem;
    font-weight: 500;
    padding: .5rem;
    @include box-shadow(false);

    &:hover {
      @include box-shadow-hover();
    }

    &:focus {
      background-color: darken($color-emphasis, 10%);
      border: 1px solid darken($color-emphasis, 10%);
    }
  }
}

textarea {
  min-height: 150px;
}

fieldset {
  padding: 2rem;
  margin-bottom: 2.5rem;
  border: 1px solid lighten($color-txt-normal, 50%);

  legend {
    font-family: $font-heading;
    font-size: 1.2rem;
    font-style: italic;
    color: $color-txt-normal;
    padding: 0 1rem;
  }
}

@media screen and (min-width: map-get($responsive-table, "-lg")) {
  // Registration form
  .form-provider-contact {
    display: flex;

    & > div {
      width: 33.33%;
      padding-right: .5rem;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .form-customer {
    display: flex;

    .form-customer-lastName {
      width: 50%;
      padding-right: .5rem;
    }

    .form-customer-firstName {
      width: 50%;
      padding-left: .5rem;
    }
  }
  .form-address {
    display: flex;
    flex-wrap: wrap;

    // Address
    &-street {
      width: 70%;
      padding-right: .5rem;
    }

    &-locality {
      width: 70%;
      padding-left: .5rem;
    }

    &-number {
      width: 30%;
      padding-left: .5rem;
    }

    &-postcode {
      width: 30%;
      padding-right: .5rem;
    }
  }

  .form-password {
    display: flex;
    flex-wrap: wrap;

    &-password {
      width: 50%;
      padding-right: .5rem;
    }

    &-confirmPassword {
      width: 50%;
      padding-left: .5rem;
    }
  }
  // Internship form
  .form-internship {
    .form-section {
      display: flex;

      .form-name {
        padding-right: .5rem;
      }

      .form-name, .form-price {
        width: 50%;
      }

      .form-start-at, .form-end-at {
        padding-right: .5rem;
      }

      .form-start-at, .form-end-at, .form-published-at {
        width: 33.33%;
      }
    }
  }

  // Promotion form
  .form-promotion {
    .form-section {
      display: flex;

      .form-name, .form-start-at, .form-published-at {
        padding-right: .5rem;
      }

      .form-name, .form-pdf, .form-start-at, .form-end-at, .form-published-at, .form-published-until  {
        width: 50%;
      }
    }

    .form-pdf input {
      margin-bottom: .25rem;

    }
    .pdf-link {
      margin-bottom: 1.5rem;
      padding-left: .2rem;

      a {
        display: flex;
        align-items: center;
        color: $color-txt-price;
        font-size: .8rem;
      }

      svg {
        width: 18px;
        fill: $color-txt-price;
        margin-right: .5rem;
      }
    }
  }
}

// Validation
label {
  &.labelValidated {
    position: relative;

    &::before {
      position: absolute;
      display: block;
      font-size: 1rem;
      top: -5px;
      left: 0;
      content: '✓';
      color: #28A745;
    }
  }
}


.validated {
  border: 1px solid #28A745;
}

.notValidated {
  border: 1px solid #DC3545;
}

.privacyValidated {
  color: #28A745;
}

.privacyNotValidated {
  color: #DC3545;
}

.info-message {
  font-size : .7rem;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
  padding-left: .5rem;
  color: $color-txt-normal;
}

.error-message {
  font-size : .7rem;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
  padding-left: .5rem;
  color: #DC3545;
}


