// Grid
@mixin custom-grid($i) {
  flex : 0 0 ((100%/$grid-columns)*$i);
  max-width: ((100%/$grid-columns)*$i);
}

@mixin col-alone {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

// Background
@mixin bg-gradient-white($url) {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url($imageDir + $url) top no-repeat;
  background-size: cover;
  @media screen and (min-width: map-get($responsive-table, '-lg')) {
    background-position: center center;
  }
}

// Box shadow Header
@mixin box-shadow($inset) {
  @if($inset == false) {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  } @else {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@mixin box-shadow-footer() {
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-hover() {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

// Header icons
@mixin header-icon($side) {
  @if($side == 'left') {
    text-align: left;
    padding-left: .5rem;
  } @else if($side == 'right') {
    text-align: right;
    padding-right: .5rem;
  } @else if($side == 'center') {
    text-align: center;
  }
  min-width: 30%;
  min-height: 100%;

  a {
    padding: 0.4rem;

    &:hover, &:active {
      color: $color-emphasis;
    }
  }

  i {
    font-size: 1.4rem;
  }
}