// General variables
// Colors
$color-bg-light: #FDF9F7;
$color-bg-dark: #FAEEE7;

$color-heading-primary: #33272A; // Dark black
$color-txt-normal: #594A4E; // Light black
$color-txt-price: #A46A59;

$color-emphasis: #ECBCAA; // Light Pink
$color-cta: #FF8BA7; // Flash Pink

$white: #fff;

$star-reviews: #FF9529;

// Fonts
$font-heading: 'Playfair Display', serif;
$font-txt: 'Montserrat', sans-serif;

// Image directory
$imageDir: '../../../public/img/';

// Grid
$grid-columns: 12;

$responsive-table: (
        -xs: 360px,
        -sm: 568px,
        -md: 860px,
        -lg: 1140px
);