// General variables
// Colors
$bg-light: #FDF9F7;
$bg-dark: #FAEEE7;

$heading-primary: #33272A; // Dark black
$txt-normal: #594A4E; // Light black

$emphasis: #ECBCAA; // Light Pink
$cta: #FF8BA7; // Flash Pink

$white: #fff;

// Fonts
$font-heading: 'Playfair Display', serif;
$font-txt: 'Montserrat', sans-serif;

// Image directory
$imageDir: '../../../public/img/';

// Grid
$grid-columns: 12;

$responsive-table: (
        -xs: 360px,
        -sm: 568px,
        -md: 860px,
        -lg: 1140px
);