// Header -- Mobile
header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: $white;
  @include box-shadow(false);

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
  }

  // * Button to open menu on Mobile * //
  .openMenu {
    @include header-icon('left');
  }

  .logo {
    text-align: center;
    min-width: 40%;
    min-height: 100%;

    img {
      width: 80%;
      max-width: 120px;
    }
  }

  // * Sliding menu on Mobile * //
  .menu {
    position: fixed;
    top: 60px;
    left: 0;
    margin-left: -100vw;
    height: 100%;
    width: 100vw;
    text-align: center;
    color: $color-txt-normal;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url($imageDir + 'menuBackground.jpg') center no-repeat;
    background-size: cover;
    overflow-x: hidden;
    transition: .5s;
    @include box-shadow(true);

    a {
      display: block;
      padding: 1rem;
      opacity: 0;
      transition: opacity .2s, color .5s;
      font-family: $font-heading;
      font-size: 1.6rem;

      &:hover {
        color: $color-emphasis;
        transition: color .5s;
      }

      &.active {
        font-weight: 700;
      }
    }

    // * Dropdown for categories * //
    .dropDown {
      overflow: hidden;
      height: 0;
      padding: 0;

      &.active {
        display: block;
        height: 100%;
      }

      li a {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    // * Menu when active * //
    &.active {
      margin-left: 0;
      transition: .5s;

      a, .menuFooter, .langMobile {
        opacity: 1;
        transition: opacity 1s;
      }
    }

    ul {
      padding-top: 85px;
    }

    .chevronCategory {
      padding-left: .5rem;
    }

    // * Language menu on Mobile (inside menu) * //
    .langMobile {

      ul li {
        display: inline-block;
        max-width: 33.33%;
      }

      ul li a {
        font-size: 0.8rem;
        padding: 1.3rem 1.3rem;

        &.active {
          font-weight: 900;
        }
      }
    }

    // * Logo in menu on Mobile * //
    .menuFooter {
      position: relative;
      padding-top: 1.5rem;
      opacity: 0;
      transition: opacity .2s;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 10%;
        width: 80%;
        height: 1px;
        background-color: rgba(89, 74, 78, 0.5);
      }
    }
  }

  // * Searching module * //
  .searchMod {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 100vw;
    margin-left: -100vw;
    text-align: center;
    color: $color-txt-normal;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url($imageDir + 'searchBackground.jpg') center no-repeat;
    background-size: cover;
    overflow-x: hidden;
    transition: margin .5s;
    @include box-shadow(true);

    &.active {
      margin-left: 0;
      padding: 0 20px;
      transition: margin .5s;
    }
  }

  .loginMod {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 100vw;
    margin-left: 100vw;
    text-align: center;
    color: $color-txt-normal;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url($imageDir + 'loginModBackground.jpg') center no-repeat;
    background-size: cover;
    overflow-x: hidden;
    transition: margin .5s;
    @include box-shadow(true);

    &.active {
      margin-left: 0;
      padding: 0 20px;
      transition: margin .5s;
    }

    .registerLink {
      line-height: .2rem;
      cursor: pointer;
      color: darken($color-emphasis, 20%);
    }

    .cta {
      a {
        font-size: .7rem;
        color: $color-txt-normal;
        line-height: 1.5rem;

        strong {
          font-size: .9rem;
          color: darken($color-emphasis, 20%);
          font-weight: normal;
        }
      }
    }

    .loginForm-password {
      margin-bottom: 1.5rem;
      text-align: left;

      input {
        margin-bottom: 0;
      }
    }

    .loginForm-rememberMe {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1.5rem;

      label {
        order: 2;
      }

      input {
        order: 1;
        width: 10%;
        padding: 0;
        margin: 0;
      }
    }
  }

  // * Search & Login Buttons on Mobile * //
  .navBtn {
    @include header-icon('right');

    .searchBtn.hidden {
      display: none;
    }
  }

  // * Language menu on Desktop * //
  .lang {
    display: none;
  }
}

// ** Header - Desktop ** //
@media screen and (min-width: map-get($responsive-table, "-lg")) {
  header {

    .wrapper {
      justify-content: space-between;
    }
    .openMenu {
      display: none;
    }

    .logo {
      min-width: 20%;
      width: 20%;
      text-align: left;
    }
    // * NavBar * //
    .menu {
      display: block;
      position: static;
      min-width: 60%;
      width: 60%;
      background: none;
      box-shadow: none;
      margin-left: 0;

      ul {
        padding-top: 0;
        text-align: right;
      }

      ul li {
        display: inline-block;
      }

      ul li a {
        display: inline-block;
        opacity: 1;
        font-size: 1rem;
      }

      .dropDown {
        display: none;
        text-align: center;

        &.active {
          position: absolute;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          min-height: 500px;
          top: 64px;
          background-color: $white;
          z-index: 9999;
          @include box-shadow(false);

          .column {
            min-width: 150px;
            max-width: 150px;
          }

          .column:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
          }

          li {
            display: block;
          }

          li a {
            display: block;
            height: 50px;
            font-size: 0.8rem;
          }
        }
      }

      .langMobile {
        display: none;
      }

      .menuFooter {
        display: none;
      }
    }

    .navBtn {
      min-width: 10%;
      width: 10%;
    }

    .searchMod {
      height: auto;
      width: 100%;
      margin-top: -500px;
      margin-left: 0;
      background: $white;
      @include box-shadow(false);

      h1 {
        display: none;
      }

      form {
        display: flex;

        div {
          width: 25%;
          max-width: 25%;
          margin: 0 10px;

          button {
            margin-top: 15px;
          }
        }
      }

      &.active {
        height: auto;
        width: 100%;
        margin-top: 5px;
        z-index: 999;
        padding: 20px 20px 0;
      }
    }

    .loginMod {
      height: auto;
      width: 40%;
      margin-left: 40%;
      margin-right: 20%;
      margin-top: -500px;
      background: $white;
      z-index: 99;
      @include box-shadow(false);

      h1 {
        display: none;
      }

      form {
        display: flex;
        flex-wrap: wrap;

        .loginForm-mail, .loginForm-password {
          width: 50%;
          max-width: 50%;
          padding: 0 10px;
          }

        .loginForm-rememberMe {
          padding: 0 10px;
          width: 100%;

          label {
            width: 90%;
          }

          button {
            width: 100%;
            margin-top: 15px;
          }
        }
      }

      &.active {
        margin-left: 40%;
        margin-right: 20%;
        margin-top: 5px;
        padding: 20px;
      }
    }
  }
}