{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
<main>
    <section class="hero">
        <div class="wrapper">
            <h1>Trouvez le bonheur près de chez vous</h1>
            <form>
                <label>Que cherchez-vous ?</label>
                <input type="search" autocomplete="false" placeholder="Prestataire, catégorie, ..."/>
                <label>Où le cherchez-vous ?</label>
                <input type="search" autocomplete="false" placeholder="Ville, code postal, localité, ..."/>
                <input type="submit" value="Evadez-vous" />
            </form>
        </div>
    </section>
    <div class="wrapper">

    </div>
</main>
{% endblock %}
