{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
<main>
    <section class="hero">
        <div class="wrapper">
            <h1>Trouvez le bonheur près de chez vous</h1>
            <form>
                <label>Que cherchez-vous ?</label>
                <input type="search" autocomplete="false" placeholder="Prestataire, catégorie, ..."/>
                <label>Où le cherchez-vous ?</label>
                <input type="search" autocomplete="false" placeholder="Ville, code postal, localité, ..."/>
                <input type="submit" value="Evadez-vous" />
            </form>
        </div>
    </section>
    <section class="highlightedCategory">
        <div class="wrapper">
            <h2>Catégorie du moment</h2>
            <div class="bigCard">
                <img src="" />
                <div class="bigCard-content">
                    <h3>Cosmétique</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae purus a ipsum efficitur fringilla. Nunc a pharetra libero, et semper felis. Praesent ipsum ex, tincidunt eget suscipit at, semper sit amet velit. Integer porttitor nibh metus, eu placerat massa tempor in. Integer quis purus eget nunc efficitur malesuada et non nisi. Aliquam pulvinar rutrum laoreet. Sed at tempor sem. Sed varius mauris a tincidunt luctus. </p>
                </div>
            </div>
        </div>
    </section>
    <div class="wrapper">

    </div>
</main>
{% endblock %}
