{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nos catégories de services{% endblock %}

{% block body %}
    <div class="wrapper">
        {% for category in categories %}
            <h2>{{ category.name }}</h2>
            <p>{{ category.description }}</p>
        {% endfor %}
    </div>
{% endblock %}
