@charset "UTF-8";
// GENERIC TAGS
* {
  box-sizing: border-box;
  font-size: 18px;
}

h1 {
  font-family: $font-heading;
  color: $heading-primary;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: .2rem;
  padding: 3.5rem 0;
}

@media screen and (min-width: map-get($responsive-table, "-lg")){
  h1 {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}