@charset "UTF-8";
// GENERIC TAGS
* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: $font-txt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  color: $color-heading-primary;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: .2rem;
  padding: 3.5rem 0;
}

h2 {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: normal;
  line-height: 32px;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .1rem;
  line-height: 22px;
  margin-bottom: 1rem;
}

section {
  padding: 2.5rem 0;

  &:nth-child(odd) {
    background-color: $color-bg-light;
  }

  &:nth-child(even) {
    background-color: $color-bg-dark;
  }

  &.listing {
    padding-bottom: 1rem;
  }

  h1 {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 30%;
      width: 40%;
      height: 2px;
      background-color: $color-emphasis;
    }
  }

  h2 {
    position: relative;
    z-index: 999;
    margin-bottom: 1.75rem;

    &::before {
      content: '';
      position: absolute;
      width: 80%;
      min-width: 280px;
      height: 1.5rem;
      bottom: 7px;
      left: -20px;
      background-color: $color-emphasis;
      border-radius: 0 1rem 1rem 0;
      z-index: -1;
    }
  }

  h3 {
    position: relative;
    font-family: $font-txt;
    z-index: 999;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 4px;
      left: 0px;
      background-color: $color-emphasis;
      z-index: -1;
    }
  }
}

p {
  font-size: 0.9rem;
  color: $color-txt-normal;
}

@media screen and (min-width: map-get($responsive-table, "-lg")){
  h1 {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  section {
    h2 {
      &::before {
        left: -100px;
        border-radius: 1rem;
      }
    }

    h3 {
      font-size: 1.2rem;
      &::before {
        bottom: 2px;
      }
    }
  }
}